<div style="height: 100%;" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Reset your password</mat-card-title>
        </mat-card-header>

        <form [formGroup]="NewPasswordForm" (ngSubmit)="ResetPassword()" autocomplete="off">
            <mat-card-content>
                <mat-form-field style="width: 100%;">
                    <input matInput type="password" placeholder="New password" formControlName="NewPassword">
                </mat-form-field>

                <mat-form-field style="width: 100%;">
                    <input matInput type="password" placeholder="New password repeat" formControlName="PasswordMatch">
                </mat-form-field>
                <div [ngStyle]="{'color': isMatching() ? 'green' : 'red'}">Matching : {{ isMatching() }}</div>
            </mat-card-content>
            <button mat-raised-button type="submit" color="primary" class="btn-block"
                [disabled]="(!NewPasswordForm.valid || !isMatching())">Reset password</button>
        </form>
    </mat-card>

</div>