.example-spacer {
  flex: 1 1 auto;
}

.name:hover {
  cursor: pointer;
}

button {
  margin: 5px;
}

.mat-badge .mat-badge-above .mat-badge-content {
  top: -3px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 5;
  /* Ensure that your app's content doesn't overlap the toolbar */
}