<mat-dialog-title fxLayout="row" fxLayoutAlign="space-between start">
    <h1>
        Change password
    </h1>
    <mat-icon class="closeIcon" [mat-dialog-close]="false" matTooltip="Close">
        close
    </mat-icon>
</mat-dialog-title>
<mat-divider></mat-divider>


<div fxLayout="column">
    <mat-dialog-content fxFlex="0 0" fxlayout="column" *ngIf="changePasswordForm">

        <form [formGroup]="changePasswordForm" 
            autocomplete="off">
            <div fxLayout="column" fxLayoutAlign="start stretch">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" minlength="6"
                        required>
                    <mat-error *ngIf="changePasswordForm.get('password').errors?.minlength">Password can't be shorter
                        than 6 characters</mat-error>
                    <mat-error *ngIf="changePasswordForm.get('password').errors?.required">Password field can't be empty
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Repeat Password</mat-label>
                    <input matInput type="password" formControlName="repeatPassword"
                        minlength="6" required>
                    <mat-error *ngIf="changePasswordForm.get('repeatPassword').errors?.minlength">Password can't be
                        shorter than 6 characters</mat-error>
                    <mat-error *ngIf="changePasswordForm.get('repeatPassword').errors?.required">Repeat password field
                        can't be empty</mat-error>
                </mat-form-field>
                <div [ngStyle]="{'color': isMatching() ? 'green' : 'red'}">Matching : {{ isMatching() }}</div>
            </div>


        </form>
        <mat-divider></mat-divider>
    </mat-dialog-content>
    <mat-dialog-actions fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
        <button mat-raised-button [mat-dialog-close]="false" color="warn">Cancel</button>
        <button mat-raised-button color="primary" (click)="changePassword()"
            [disabled]="changePasswordForm.invalid || !isMatching()">Save</button>
    </mat-dialog-actions>
</div>